<footer>

    <div class="row">

        <div class="left">

            <div class="logo">

            </div>

            <div class="">
                {% render 'social-icons' %}
            </div>
            
        </div>

        <div class="right">
            <div class="links">
                {% render 'site-nav' %}
            </div>
        
            <span>
                Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }}
            </span>
        </div>

    </div>

</footer>