<div class="mobile-menu">
    <div class="row">

        <div class="closer">
            <div class="close">
                <span class="line">&nbsp;</span>
                <span class="line">&nbsp;</span>
            </div>
        </div>

        <div class="menu-header">
            {% if settings.logo_strip %}
                <img src="{{ settings.logo_strip | image_url: width: '700' }}" alt="{{ shop.name }}" />
            {% else %}
                <a id="site-title" class="headline" href="/">
                    {{ shop.name }}
                </a>
            {% endif %}
        </div>

        <div class="search">
            {% render 'search' %}
        </div>

        <div class="links">
            {% render 'site-nav' %}
        </div>

        <div class="social mobile-menu-social">
            {% render 'social-icons' %}
        </div>

    </div>
</div>