<header id="navbar">
    <div class="wrap">

        <a id="site-title" class="headline" href="/">
            {{ shop.name }}
        </a>

        {% render 'site-nav' %}

        <div class="right">

            <div class="login-trigger">
                {% render 'icon--account' %}
            </div>
            
            <div class="mini-cart">
                {{ cart.item_count }} {% render 'icon--cart' %}
            </div>

        </div>

    </div>

    <div class="login-dropdown">
        {% render 'customer-login' %}
    </div>

</header>