<header id="navbar">
    <div class="wrap">

        <a id="site-title" class="headline" href="/">
            {{ shop.name }}
        </a>

        {% render 'site-nav' %}

        <div class="right">

            <div class="login-trigger">
                {% render 'icon--account' %}
            </div>
            
            <div class="mini-cart">
                <a href="/cart">
                    {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})
                </a>
            </div>

        </div>

    </div>

    <div class="login-dropdown">
        {% render 'customer-login' %}
    </div>

</header>