<header id="navbar">
    <div class="wrap">

        <div class="left">
            <a id="site-title" class="headline" href="/">
                {{ shop.name }}
            </a>
        </div>
 

        <div class="center">
            {% render 'site-nav' %}
        </div>
        

        <div class="right">

            <div class="search-trigger">
                {% render 'icon--search' %}
            </div>

            <div class="login-trigger">
                {% render 'icon--account' %}
            </div>
            
            <div class="mini-cart">
                <span class="count">{{ cart.item_count }}</span> {% render 'icon--cart' %}
            </div>

        </div>

    </div>

    <div class="login-dropdown">
        {% render 'customer-login' %}
    </div>

    <div class="search-dropdown">
        {% render 'search' %}
    </div>

</header>