<header id="navbar">
    
    <a id="site-title" class="headline" href="/">
        {{ shop.name }}
    </a>
    
   {% render 'site-nav' %}

   <a href="/cart">
    {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})
   </a>

   {% render 'customer-login' %}

</header>