<header id="navbar-mobile">

    <div class="wrap">

        <div class="left">
            {% if settings.logo_strip %}
                <img src="{{ settings.logo_strip | image_url: width: '700' }}" alt="{{ shop.name }}" />
            {% else %}
                <a id="site-title" class="headline" href="/">
                    {{ shop.name }}
                </a>
            {% endif %}
        </div>


        <div class="right">

            <div class="hamburger">
                <div class="row">
                    <div class="bar">&nbsp;</div>
                    <div class="bar">&nbsp;</div>
                    <div class="bar">&nbsp;</div>
                </div>
            </div>
            
            <div class="mini-cart">
                <span class="count">{{ cart.item_count }}</span> {% render 'icon--cart' %}
            </div>

        </div>

    </div>

</header>