<div class="text-slide hero-slide" style="background: url('{{ block.settings.text_background_image | image_url }}'); background-size: cover; background-position: {{ block.settings.text_background_image.presentation.focal_point }};">
    text slide
</div>