<div class="social-media">
    <div class="wrap">
        <ul>  

            <li class="link bandcamp">
                <a href="{{ settings.bandcamp }}" title="Bandcamp">
                    {% render 'icon--bandcamp' %}
                </a>
            </li>

            <li class="link instagram">
                <a href="{{ settings.instagram }}" title="Instagram">
                    {% render 'icon--instagram' %}
                </a>
            </li>
        
        </ul>    
    </div>
</div>