footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 20px 0 0px 0;
    background: var(--grey);
    padding: 40px var(--side-padding) 30px var(--side-padding);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-end;
        grid-gap: 40px;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
        margin: 0 0 10px 0;

        a {
            text-transform: uppercase;
        }
    }

    span {
        font-size: 60%;
        text-transform: uppercase;
    }

    .social {
    
        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            margin: 0;
            padding: 0;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    
    }

}