footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 20px 0 0px 0;
    padding: 40px var(--side-padding) 30px var(--side-padding);
    // border-top-right-radius: 40px;
    // border-top-left-radius: 40px;

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        width: 100%;
    }

 

    .logo {
        display: block;
        margin: 0 0 20px 0;

        img {
            display: block;
            width: 150px;
        }
    }

    .links {
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 12px;
    
            a {
                text-transform: uppercase;
            }
        }
    }

    .social {
        margin: 0 0 20px 0;

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 14px;
            margin: 0;
            padding: 0;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    
    }
    

    .attribution {
        text-align: center;
        font-size: 10px;
        text-transform: uppercase;
    }

}