header#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    background: var(--white);
    border-bottom: 1px solid var(--grey);

    .wrap {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        padding: 14px var(--side-padding);
    }

    .left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        .logo {

            a {
                text-transform: uppercase;
                font-weight: 900;
            }

            img {
                width: 100%;
                max-width: 270px;
            }
        }

    }

    nav {
        display: flex;
        justify-content: center;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 8px;
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        a {
            text-transform: uppercase;
            font-size: 14px;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 14px;
        
        svg {
            width: 20px;
        }
    
        path {
            stroke-width: 2px;
        }

        .search-trigger {
            position: relative;
            cursor: pointer;
        }

        .login-trigger {
            position: relative;
            cursor: pointer;
        }

        .mini-cart {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2px;
            position: relative;
            cursor: pointer;

            .count {
                position: absolute;
                top: -2px;
                right: -8px;
                background: var(--black);
                color: var(--white);
                border-radius: 50px;
                aspect-ratio: 1/1;
                padding: 4px 6px;
                font-size: 8px;
            }
        }

    }

    .login-dropdown {
        display: none;
        background: var(--black);
        color: var(--white);
        z-index: 10;
        padding: 10px 20px;
        margin-right: var(--side-padding);

        a {
            cursor: pointer;
            font-size: 14px;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .search-dropdown {
        display: none;
        background: var(--black);
        color: var(--white);
        z-index: 10;
        padding: 10px 10px;
        margin-right: var(--side-padding);

        a {
            cursor: pointer;
            font-size: 14px;
        }

        a:hover {
            text-decoration: underline;
        }
    }

}

header#navbar-mobile {
    display: none;
}

@media screen and (max-width: 767px) {
    header#navbar {
        display: none;
    }
}