header#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    background: var(--white);

    .wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .login-dropdown {
        display: none;
    }

    .login-trigger {
        position: relative;
    }
    
    .login-trigger:hover {

        .login-dropdown {
            display: block;
            position: absolute;
            bottom: -100%;
        }

    }

}