@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Special+Elite&display=swap');

:root {
    --white: #f9f9f9;
    --black: #2e2e2e;
    --grey: #d6d6d6;
    --accent: #b41b1b;

    --side-padding: 40px;
}

@media screen and (max-width: 767px) {
    :root {
        --side-padding: 14px;
    }
}

body {
    overflow-x: hidden;
    background: var(--white);
    color: var(--black);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: -0.02rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

.headline {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
}

main[role="main"] {
    margin-bottom: 80px;
}

.page-container {
    padding: 0 var(--side-padding);
    min-height: calc(100svh - 100px);
}


.page-header {
    margin: 0 0 34px 0;

    h1, h2 {
        font-size: 20px;
        border-bottom: 2px solid var(--black);
        display: inline;
        padding: 0 0 5px 0;
        font-weight: 900;
    }

    p {
        margin-top: 20px;
    }
    
}

@media screen and (max-width: 767px) {
    .page-header {
        font-size: 22px;
    }
}

@import './header.scss';
@import './header-mobile.scss';
@import './mobile-menu.scss';
@import './search.scss';
@import './footer.scss';
