@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Special+Elite&display=swap');

:root {
    --white: #f9f9f9;
    --black: #2e2e2e;
}

body {
    overflow-x: hidden;
    background: var(--white);
    color: var(--black);
    font-family: sans-serif;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

.headline {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
}


main[role="main"] {
    margin-top: 60px;
}

.page-container {
    padding: 0 20px;
}

.page-header {
    font-size: 28px;
    margin: 0 0 30px 0;
}

@media screen and (max-width: 767px) {
    .page-header {
        font-size: 22px;
    }
}

@import './header.scss';
@import './footer.scss';
