.artist-collection {
    padding-top: var(--side-padding);

    .row {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: var(--side-padding);
    }
    
    .artist-hero {
        //height: 50vh;
        width: 100%;
        margin: 0 0 40px 0;
        aspect-ratio: 3/4;
    }

    .artist-info {
        display: grid;
        grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
        gap: var(--side-padding);
    }

    .left {
        margin: 0 0 20px 0;

        h1 {
            font-size: 34px;
            margin: 0 0 20px 0;
        }

        p {
            line-height: 1.4;
        }
    }

    .right {
        
        h3 {
            text-transform: uppercase;
            border-bottom: 2px solid var(--black);
            margin: 0 0 20px 0;
            display: inline-block;
            padding: 0 0 5px 0;
        }

        .metafield-rich_text_field {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        a:hover {
            text-decoration: underline;
            color: var(--accent);
        }

    }

    .artist-products {

        h3 {
            text-transform: uppercase;
            border-bottom: 2px solid var(--black);
            margin: 0 0 20px 0;
            display: inline-block;
            padding: 0 0 5px 0;
        }

        ul {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            grid-gap: 40px 12px;

            .image {
                width: 100%;
                aspect-ratio: 1/1;
                margin: 0 0 10px 0;
            }
        }
    }

}

@media screen and (max-width: 767px) {
    
    .artist-collection {
        padding-top: 45px;

        .row {
            grid-template-columns: 1fr;
            margin: 0 0 40px 0;
        }
        
        
        .artist-info {
            grid-template-columns: 1fr;
            
        }

        .artist-products {
            ul {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }
    }

}