.artist-collection {
    padding-top: var(--side-padding);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: var(--side-padding);

    .artist-hero {
        //height: 50vh;
        width: 100%;
        margin: 0 0 40px 0;
        aspect-ratio: 3/4;
    }

    .artist-info {
        display: grid;
        grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
        gap: var(--side-padding);
    }

    .left {
        margin: 0 0 20px 0;

        h1 {
            font-size: 34px;
            margin: 0 0 20px 0;
        }

        p {
            line-height: 1.4;
        }
    }

    .right {
        
        h3 {
            margin: 0 0 14px 0;
        }

        .metafield-rich_text_field {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        a:hover {
            text-decoration: underline;
            color: var(--accent);
        }

    }

}

@media screen and (max-width: 767px) {
    
    .artist-collection {
        grid-template-columns: 1fr;
        
        .artist-info {
            grid-template-columns: 1fr;
        }
    }

}