.artists-page {
    padding-top: var(--side-padding);

    .page-header {
        margin: 0 0 40px 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 12px;
    }

    .artist-card {

        .image {
            width: 100%;
            aspect-ratio: 4/3;
            margin: 0 0 8px 0;
            cursor: pointer;
        }

        h2 {
            font-weight: 600;
            font-size: 20px;
        }

        a:hover {
            color: var(--accent);
        }
    }

}

@media screen and (max-width: 767px) {
    .artists-page {
        ul {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
    
}