.artist-widget {
    margin-top: 80px;

    h3 {
        font-weight: 900;
        font-size: 20px;
        border-bottom: 2px solid var(--black);
        padding: 0 0 5px 0;
        display: inline-block;
        margin: 0px 0 26px 0;
    }
    
    .row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        list-style: none;
        gap: 16px;
        overflow-x: scroll;
        padding: 0 0 30px 0;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        scroll-behavior: smooth;
    

        .artist-card {

            .image {
                aspect-ratio: 1/1;
                width: 200px;
                height: 200px;
                display: block;
                margin: 0 0 12px 0;
                cursor: pointer;
            }

            a:hover {
                color: var(--accent);
            }

        }

    }

    .row::-webkit-scrollbar {
        display: none;
      }

    .artist-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 14px;
    }

    #artist-button-prev {
        cursor: pointer;
    }

    #artist-button-next {
        cursor: pointer;
    }
    
}