.cart-page {
    padding-top: var(--side-padding);

    .back-button {
        margin: 30px 0 14px 0;
        display: inline-block;

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;
            font-size: 14px;

            svg {
                width: 14px;
            }
        }

        a:hover {
            color: var(--accent);

            svg {
                path {
                    fill: var(--accent);
                }
            }
        }

    }


    table {
        width: 100%;
        margin: 0 0 40px 0;
    }

    tr {
        display: grid;
        grid-template-columns: 1fr 6fr 2fr 1fr auto;
        align-items: center;
        grid-gap: 14px;
        border-bottom: 2px solid var(--black);
        padding: 20px 0;
    }

    .title {
        .properties {
            margin: 14px 0 0 0;
        }
    }

    .price {
        text-align: center;
    }

    .quantity {
        display: flex;
        justify-content: flex-end;

        input[type="number"] {
            width: 50px;
            padding: 5px;
            border: 1px solid var(--grey);
            border-radius: 4px;
        }
        input[type="number"]:focus {
            outline: none;
            border-color: var(--accent);
        }
        input[type="number"]:disabled {
            background-color: var(--light-grey);
            cursor: not-allowed;
        }
    }

    .remove {
        text-align: right;
        
        svg {
            width: 24px;
            height: 24px;
        }

        svg:hover {
            path {
                fill: var(--accent);
            }
        }
    }

    .checkout-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;

        input[name="update"] {
            background: var(--grey);
            color: var(--black);
            font-weight: 900;
            padding: 10px 20px;
            border: 0;
        }

        input[name="checkout"] {
            background: var(--black);
            color: var(--white);
            font-weight: 900;
            padding: 10px 20px;
            border: 0;
        }

    }

}