.cart-page {
    padding-top: var(--side-padding);

    table {
        width: 100%;
    }

    th {
        text-align: left;
        border-bottom: 1px solid var(--grey);
        display: none;
    }

    tr {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 2fr;
        align-items: center;
        grid-gap: 14px;
        border-bottom: 2px solid var(--black);
        padding: 20px 0;
    }

    input[type="number"] {
        width: 50px;
        padding: 5px;
        border: 1px solid var(--grey);
        border-radius: 4px;
    }
    input[type="number"]:focus {
        outline: none;
        border-color: var(--accent);
    }
    input[type="number"]:disabled {
        background-color: var(--light-grey);
        cursor: not-allowed;
    }

    

}