#hero {
    width: 100%;
    height: 75svh;
    //aspect-ratio: 16/9;
    margin: 0 0 60px 0;
    border-bottom: 1px solid var(--grey);

    .hero-slide {
        width: 100%;
    }

    .swiper-buttons {
        svg {
            width: 20px;
            height: 20px;
        }

        .swiper-button-next {
            right: 20px;
        }
        
        .swiper-button-prev {
            left: 20px;
        } 

        .swiper-button-next::after {
            right: 20px;
            padding: 10px 14px 10px 17px;
        }
        
        .swiper-button-prev::after {
            left: 20px;
            padding: 10px 17px 10px 14px;
        } 

        .swiper-button-prev, .swiper-button-next {
            text-align: center;
        }

        .swiper-button-next::after, .swiper-button-prev::after {
            color: var(--black);
            background: var(--white);
            box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
            border-radius: 50px;
            font-size: 20px;
            aspect-ratio: 1/1 !important;
            display: block;
            //padding: 10px 15px;
            text-align: center;
        }
    }

    .text-slide {
        

        .box-wrap {
            width: 100%;
            padding: 0 var(--side-padding);
            max-width: 1600px;
            height: 100%;
            margin: 0 auto;
            position: relative;
        }

        .text-box {
            position: absolute;
            bottom: 60px;
            left: auto;
            background: var(--white);
            color: var(--black);
            padding: 40px 60px 40px 40px;
            width: 35%;


            h2 {
                font-size: 24px;
                margin: 0 0 10px 0;
                font-weight: 900;
            }

            p {
                display: block;
                margin: 0 0 26px 0;
            }

            .button a {
                border-bottom: 2px solid var(--black);
                font-weight: 600;
                text-transform: uppercase;
            }

            .button a:hover {
                color: var(--accent);
                border-bottom: 2px solid var(--accent);
            }
            
        }
    }

    .release-slide {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .release-title {
                font-size: 24px;
                font-weight: 600;
                margin: 0 0 4px 0;
            }

            .release-artist {
                margin: 0 0 12px 0;
            }

            .description {
                font-size: 14px;
                margin: 0 0 20px 0;
            }

            .button a {
                border-bottom: 2px solid var(--black);
                font-weight: 600;
                text-transform: uppercase;
            }

            .button a:hover {
                color: var(--accent);
                border-bottom: 2px solid var(--accent);
            }
        }

        .product-image {
            max-width: 60%;
            max-height: 40%;
            aspect-ratio: 1 / 1;
            margin: 0 auto 20px auto;
            
            img {
                display: block;
                width: 100%;
            }
        }
    }

}

@media screen and (max-width: 767px) {
    #hero {

        .text-slide {

            .box-wrap {
                max-width: 100%;
            }

            .text-box {
                width: 100%;
            }
        }
    }
}