ul.products {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 60px 12px;
    list-style: none;
    margin: 0;
    padding: 0;

    li.product {

        .image {
            display: block;
            margin: 0 0 10px 0;
            cursor: pointer;
            overflow: hidden;
            aspect-ratio: 1/1;

            img {
                width: 100%;
                display: block;
                transition: all 0.3s ease-in-out;
                object-fit: cover;
            }
        }

        .image:hover {
            border: 1px solid var(--accent);

            img {
                transform: scale(1.1);
            }
        }

        .title {
            margin: 0 0 4px 0;
        }

        .title:hover {
            color: var(--accent);
        }

        .price {
            font-size: 14px;
        }

    }

}

.view-products {
    margin: 60px 0;
    text-align: center;

    a {
        font-weight: 600;
        border-bottom: 2px solid var(--black);
        padding: 0 0 4px 0;
        text-transform: uppercase;
    }

    a:hover {
        color: var(--accent);
        border-bottom: 2px solid var(--accent);
    }
}

@media screen and (max-width: 767px) {
    
    ul.products {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}