ul.products {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    list-style: none;
    margin: 0;
    padding: 0;

    li.product {

        .image {
            display: block;
            margin: 0 0 10px 0;
            cursor: pointer;
        }

        img {
            width: 100%;
            display: block;
        }

        .title {
            margin: 0 0 4px 0;
        }

        .price {
            font-size: 14px;
        }

    }

}

@media screen and (max-width: 767px) {
    
    ul.products {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}