<ul class="products">
  {% for coll in collections %}

    
      {% if coll.handle == 'frontpage' %}
 
          {% for prod in coll.products %}
            <li class="product">
              <div class="image">
                <img src="{{ prod.images[0].src }}" alt="{{ prod.title }}" />
              </div>
              <div class="title">
                <h2>{{ prod.title }}</h2>
              </div>
            </li>
          {% endfor %}


      {% endif %}
    

  {% endfor %}
</ul>