<link rel="stylesheet" href="{{ 'product-grid.css' | asset_url }}" />

{% section 'hero' %}

<div class="page-container">

  <div class="page-header">
    <h2>Latest Releases</h2>
  </div>

  <ul class="products">
    {% for coll in collections %}

      
        {% if coll.handle == 'frontpage' %}
  
            {% for prod in coll.products %}
              {% render 'product-card', prod: prod %}
            {% endfor %}


        {% endif %}
      

    {% endfor %}

  </ul>

  <div class="view-products">
    <a href="/collections/all" title="View Shop">View Shop</a>
  </div>

  {% render 'artist-widget' %}

</div>
